.dropdown {
  box-sizing: content-box;
  position: absolute;
  top: 62px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg-secondary);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  
  transition: height var(--transition-speed) ease;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--transition-speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: var(--extra-bgcolor);
} 

.icon-right {
  margin-left: auto;
}

.menu {
  width: 100%;
}

/* CSSTransition classes */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--transition-speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--transition-speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--transition-speed) ease;
}
.menu-secondary-exit {
  
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--transition-speed) ease;
}
